<!doctype html>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">

<h1>
	<span class = "title" ></span>
</h1>


<script src="/jquery/dist/jquery.min.js"></script>
<script src="/js/message2/index.js"></script>