<!doctype html>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">

<div>
	<a href = "/message1">Message 1</a>
</div>
<div>
	<a href = "/message2">Message 2</a>
</div>


<script src="/jquery/dist/jquery.min.js"></script>
